/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

/* Importing components */
@import url("components/card.css");
@import url("components/navbar.css");

/* Importing layouts */
@import url("layouts/map.css");

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  background: #F4F4F4;
}
p {
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}
/*.padded {
  padding: 30px 0;
}
*/

.cards-and-map-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}



.list-of-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
/*  flex: 1 1;
*/}

#map-holder {
  height: 100vh;
  position: sticky;
  top: 0;
 }

/*Media Queries*/

/*Smallest device*/
@media (min-width: 10px) and (max-width: 768px) {
  .list-of-cards {
    grid-template-columns: 1fr;
  }
  .cards-and-map-container {
  grid-template-columns: 1fr 2fr;
  }
/*  #map {
    display: none;
  }*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 768px) {
  .list-of-cards {
    grid-template-columns: 1fr 1fr;
  }
  .cards-and-map-container {
  grid-template-columns: 1fr 2fr;
  }
/*  #map {
    display: none;
  }
}*/

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 992px) {
  .list-of-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards-and-map-container {
  grid-template-columns: 2fr 1fr;
  }
/*  #map {
    display: block;
  }*/
}
