/* Footer design */
.wrapper-footer {
  background-color: #333333;
  padding: 30px;
}

.wrapper-footer i {
  color: #C1CCB8;
  padding: 0px 20px;
  font-size: 30px;
}

.wrapper-footer p {
  color: #C1CCB8;
  padding: 0px 20px;
}
