    <!-- Your footer code -->
    <div class="wrapper-footer">
      <div class="container">
        <ul class="list-inline">
          <i class="fa fa-youtube"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
        </ul>
        <p>This is an Airbnb challenge @ LeWagon</p>
      </div>
    </div>
