<!-- team html file -->

<div id="about">
  <div class="container text-center padded features">
    <ul class="list-inline text-center">
      <% ["carottes", "pommes", "chou", "pommesdeterre"].each do |vegetable| %>
        <li>
          <%= image_tag "#{vegetable}.jpg", class: "img-circle" %>
          <h3><%= vegetable.capitalize %></h3>
        </li>
      <% end %>
    </ul>
  </div>
</div>
